/*f*/
font: ;

/*f+*/
font: 1em Arial,sans-serif;

/*fw*/
font-weight: ;

/*fw:n*/
font-weight: normal;

/*fw:b*/
font-weight: bold;

/*fw:br*/
font-weight: bolder;

/*fw:lr*/
font-weight: lighter;

/*fs or fs:i*/
font-style: italic;

/*fs:n*/
font-style: normal;

/*fs:o*/
font-style: oblique;

/*fv*/
font-variant: ;

/*fv:n*/
font-variant: normal;

/*fza*/
font-size-adjust: ;

/*ff*/
font-family: ;

/*ff:s*/
font-family: serif;

/*ff:c*/
font-family: cursive;

/*ff:f*/
font-family: fantasy;

/*ff:m*/
font-family: monospace;

/*ff:a*/
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
