/*bxz*/
-webkit-box-sizing: border-box;
box-sizing: border-box;

/*bxz:cb*/
-webkit-box-sizing: content-box;
box-sizing: content-box;

/*bxz::bb*/
-webkit-box-sizing: border-box;
box-sizing: border-box;

/*bxsh*/
/*-webkit-box-shadow: inset hoff voff blur color;*/
box-shadow: inset hoff voff blur color;

/*bxsh:r*/
-webkit-box-shadow: inset hoff voff blur spread rgb(0, 0, 0);
box-shadow: inset hoff voff blur spread rgb(0, 0, 0);

/*bxsh:ra*/
-webkit-box-shadow: inset h v blur spread rgba(0, 0, 0, .5);
box-shadow: inset h v blur spread rgba(0, 0, 0, .5);

/*bxsh:n*/
-webkit-box-shadow: none;
box-shadow: none;

/*w*/
width: ;

/*w:a*/
width: auto;

/*h*/
height: ;

/*h:a*/
height: auto;

/*maw*/
max-width: ;

/*mah*/
max-height: ;

/*mah:n*/
max-height: none;

/*miw*/
min-width: ;

/*mih*/
min-height: ;
